footer{
    background-color: rgb(43, 72, 92);
    padding: 10px;
    text-align: center;
    color: white;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.leftList{
    padding-left: 30px;
    display: flex;
}

.rightList{
    padding-right: 30px;
    width: fit-content;
    display: flex;
}

ul{
    padding-inline-start: 5px;
}

li{
    list-style-type: none;
}

.leftList>li, .rightList>li{
    font-size: small;
    padding: 5px;
}

.leftList>li:hover{
    font-size: small;
}