.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
    background-color: cyan;
}

p{
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    text-transform: uppercase;
}